################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# IDE's
**/.idea
**/.project
**/*.sublime-*
**/.vscode

# Operating system
**/.DS_Store
**/Thumbs.db

# Visual Studio
**/.vs
**/packages
**/bin
**/obj
**/*.DotSettings
**/*.DotSettings.user
**/project.lock.json
**/*.csproj.user
**/web/logs/**
**/web/src/main/webapp/WEB-INF/data/config/schemaplugin-uri-catalog.xml
**/web/src/main/webapp/WEB-INF/data/config/encryptor.properties
**/web/src/main/webResources/WEB-INF/classes/git.properties

**/target
**/schema_plugins
**/web/src/main/webResources/WEB-INF/classes/git.properties
**/geonetwork.war
